.info-heading {
    text-align: center;
}

.container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}


.bill-info {
    background-color: aquamarine;
    width: 30%;
    border: 2px solid black;
    padding: 0.5rem;
}

.bill-info > h2:first-child {
    border-bottom:2px solid black;
    width: 90%;
    text-align: center;
    padding:0.5rem;
    margin: 0.3rem auto;    
}

.bill-info h3{
    text-align: center;
}

.bill h2 {
    text-align: center;
    border-top: 2px solid black;
    width: 90%;
    margin: 0.5rem auto;
    padding: 0.5rem;
    cursor: pointer;
}


.no-items {
    text-align: center;
    padding: 1rem;
}

@media only screen and (max-width: 426px){
    .container{
        flex-direction: column;
        justify-content: center;
    }

    .bill-info {
        width: 90%;
    }
}